#root{
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-height: 70%;
    max-width: 70%;
}

* {
    box-sizing: border-box
}

p {
    padding: 0 2.5rem 2.5rem;
    margin: 0;
}

.card {
    margin: 1rem;
    background: gray;
    box-shadow: 2px 4px 25px rgba(122, 3, 3, 0.1);
    border-radius: 12px;
    overflow: hidden;
    transition: all .2s linear;
}

html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Dosis', sans-serif;
    line-height: 1.6;
    color: #666;
    background: rgb(134, 12, 12);
}

h1 {
    text-align: center;
    padding: 1.5rem 2.5rem;
    background-image: linear-gradient(120deg, #edfd09 0%, #ad120d 100%);
    margin: 0 0 2rem 0;
    font-size: 1.5rem;
    color: rgb(26, 28, 179);
}